cvzone
ultralytics
hydra-core
matplotlib
numpy
opencv-python-headless
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
scikit-image
flask_wtf
WTForms
Flask
gunicorn
Werkzeug
blinker
click
colorama
itsdangerous
Jinja2
MarkupSafe
packaging
