cvzone
ultralytics
hydra-core
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
flask_wtf
WTForms
Flask
gunicorn
Werkzeug
streamlit
blinker
click
colorama
itsdangerous
Jinja2
MarkupSafe
packaging
lap
