cvzone
ultralytics
hydra-core
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
lap
flask_wtf
WTForms
Flask-WTF
opencv-python


# cvzone==1.6.1
# ultralytics==8.0.175
# hydra-core==1.3.2
# matplotlib==3.8.0
# numpy==1.26.0
# opencv-python==4.7.0.72
# Pillow==10.0.1
# PyYAML==6.0
# requests==2.31.0
# scipy==1.11.3
# torch==2.1.0
# torchvision==0.16.0
# tqdm==4.66.1
# filterpy==1.4.5
# scikit-image==0.21.0
# flask_wtf==1.2.1
# WTForms==3.1.1
